.idea/

front/dist
front/node_modules

# Log files
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*

logs/*.log
*.log
.DS_Store
.vscode
*.sw?
gin.log
/latest_log
/etc/config_exam.yaml
/gin.log
/gva.exe
/server.exe
*.out
/agent/meta/
/agent/main
